.gallery{
  position: relative;
}


.galleryRail{
  display: flex;
  overflow: hidden;
}

.galleryRail img{
  display: block;
  width: 1020px;
  margin: 0 auto;
}

.galleryRail figure{
  width: 100%;
  min-width: 100%;
}

.galleryRail figure:nth-child(odd){
  background: gray;
}

.galleryRail figure:nth-child(even){
  background: lightgray;
}

.gallery figcaption {
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: rgba(0,0,0,.4)
}

.galleryNav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100% - 51px;
  }
  
.galleryNav div {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 30px;
  }

.galleryNav div::before;
.galleryNav div::after;
   content:" ";

   position


#prev{
  transform: rotate(-45deg);
}

#next{
  transform: rotate(135deg);
}

.chevron div {
  position: absolute;
  background: black;
}

.chevron div:first-child{
  width: 5px;
  height: 20px;
}

.chevron div:last-child{
  width: 20px;
  height: 5px;
}
